<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
    </ul>
    @*@Html.Partial("_LoginPartial")*@
</div>
